<a href="https://colab.research.google.com/github/Neil-Kloper/PGP-AIML-Study-sessions/blob/master/Copy_of_Week_3_in_colab_using_a_smart_phone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3
this week is focused on using notebooks inside a google colab session. this notebook was written and run entirely on an Iphone 7

In [3]:
import pandas as pd

## loading data from google's sample data
you can view the availible datasets by looks in the file explorer

In [4]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [14]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

## Uploading data to colab
we can upload data to run in a notebook. keep in mind that this data will have to be re-uploaded each time you restart the session.

In [7]:
happiness_df=pd.read_csv('/content/datasets_894_813759_2019.csv')
happiness_df.head(4)

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118

[4 rows x 9 columns]

## using data from your google drive
this data is will be accessable each time you restart the session, this is a very optimal method.

In [13]:
also_happiness_df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/datasets_894_813759_2019.csv')


also_happiness_df.sample(5)

    Overall rank Country or region  ...  Generosity  Perceptions of corruption
15            16           Ireland  ...       0.298                      0.310
23            24            France  ...       0.111                      0.183
45            46            Kosovo  ...       0.262                      0.006
90            91           Lebanon  ...       0.166                      0.027
6              7            Sweden  ...       0.267                      0.373

[5 rows x 9 columns]

## other methods:
you can download data inside a session using the urls library or similar. You can also access the BigQuery public repo if you know some basics if SQL. there are many useful tutorials online for this